<div class="layout-footer">
    <div class="surface-card p-3 shadow-2">
        <div class="flex flex-column md:flex-row align-items-center justify-content-between">
            <div class="flex align-items-center gap-2">
                <span class="font-bold text-primary">Backoffice Paz</span>
            </div>
            <div class="flex align-items-center gap-2 mt-3 md:mt-0">
                <span class="text-500 text-sm">© {{ currentYear }} Paz. Todos los derechos reservados.</span>
            </div>
        </div>
    </div>
</div>
